<?xml version="1.0" encoding="utf-8"?>
<manifest
        xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools"
        package="com.immotef.coronavirusblockade">

    <uses-feature
            android:name="android.hardware.bluetooth_le"
            android:required="true" />
    <application
            android:name=".Application"
            android:allowBackup="true"
            android:backupAgent=".CoronaBackupAgent"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity
                android:name=".MainActivity"
                android:launchMode="singleTask"
                android:screenOrientation="portrait"
                tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
                android:name="com.google.android.backup.api_key"
                android:value="AEdPqrEAAAAInAU0j9zdkvYkGTDdSslmC_Dbli-j2iIN1FjcpQ" />

    </application>

</manifest>